html {
    background-image: url("../../images/parchment_background.png");
    background-size: cover;
    background-attachment: scroll;
    font-family: "papyrus";
    font-weight: bolder;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.header img{
    object-fit: cover; 
    height: 100%; 
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/journal-cover-menu.jpg");
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    height: 60px;
    left: 0;
    right: 0;
    margin: 0px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.menu-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 70%;
}

.menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    width: 12%;
    height: 100%;
    text-align: center;
    font-size: 1.25em;
    font-weight: bolder;
    user-select: none;
    cursor: pointer;

    border-right: 2px;
    border-left: 2px;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.0);
}

.dropdown-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    
}

.dropdown {
    flex-direction: column;
    position: relative;
    height: 100%;
}

.menu-items:hover:not(.active) {
    border-color: rgba(255, 255, 255, 1.0);
}

.active.menu-items {
    border: 2px solid white;
    border-top: 0;
    border-bottom: 0;
}

.dropdown:hover:not(.active) {
    border-color: rgba(255, 255, 255, 1.0);
}


.dropdown-content {
    display: none;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-image: url("../../images/journal-cover-menu.jpg"); */
    background-color: rgba(52, 14, 14, 0.85);
    /* border: 5px solid black; */
    border-top: 0;
    position: absolute;
    width: 100%;
    height: 10em;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
    cursor: pointer;
    overflow: auto;
    transform: translateY(60%);
}

.dropdown-items {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    height: 25%;
    width: 76%;
    border: 2px solid rgba(255, 255, 255, 0.0);
    border-top: 0;
    font-size: .80em;

    
   
}

.dropdown-items:hover {
    border-color: rgba(255, 255, 255, 1.0);
}

.dropdown:hover .dropdown-content {
    display: flex;
    
}


footer {
    background-image: url("../../images/journal-cover-menu.jpg");
    width: 100%;
    height: 100px;
    margin-top: 50px;
    border-top: 5px solid black;   
}

@media screen and (max-width: 600px) {
    body {
        font-size: .75em;
    }
    .header {
        display: none;
        height: 0px;
    }

    .menu-align {
        height: 100%;
    }

    .menu-items {
        /* font-size: 1em; */
    }

    footer {
        position: relative;
        bottom: 0;
        margin-top: 25%;
    }
}