img {
    width: 185px;
    height: 240px;
    float: right;
    margin-right: 40%;
    border: 10px solid black;
}

table {
    width: 100%;
   
}

html {
    background-image: url("./parchment background.png");
    background-size: cover;
    background-attachment: scroll;
}

.header {
    margin-top: 3%;
}

#campaign-num {
    text-align: center;
    font-size: 50px;
}

#dm {
    text-align: center;
    font-size: 25px;
}

#campaign-title {
    font-family: "papyrus";
   
}

#content-beginning {
    margin-top: 5%;
}

#current-adventures {
    margin-top: 5%;
}

#clock-lead-in {
    text-decoration: underline black;
}

.menu {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    height: 60px;
    background-color: rgb(221, 52, 52, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0px;
    position: sticky;
    top: 0;
}

.menu-items {
    background-color: teal;
    width: 200px;
    height: 30px;
    border: 3px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    padding-bottom: 3px;
    text-align: center;
    font-weight: bolder;
    user-select: none;
    cursor: pointer;
}

.menu-items:hover:not(.active) {
    background: cornsilk;
}

.active.menu-items {
    background-color: rgb(100, 204, 204);
}

/* .container {
    background-color: white;
    margin: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-items: stretch;
}

.container-item {
    background-color: green;
    width: 90px;
    height: 60px;
    border: 5px solid black;
    margin: 10px;
    text-align: center;
} */