
.menu {
    border: 10px solid black;
    border-radius: 15px;
    height: 60px;
    background-color: rgb(221, 52, 52);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.menu-items {
    background-color: teal;
    width: 200px;
    height: 30px;
    border: 3px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    padding-bottom: 3px;
    text-align: center;
    font-weight: bolder;
    user-select: none;
    cursor: pointer;
}

.menu-items:hover {
    background: cornsilk;
}

.button{
    position: absolute;
    height: 1.5em;
    border-width: 15px;
    border-style: solid;
    border-radius: 0.25em;
    background: rgb(90, 90, 253);
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    width:fit-content;
    padding: .5em;
    border-color: rgb(129, 129, 129);
    user-select: none;
    cursor: pointer;
}

.button:hover {
    background: rgb(239 214 76);
}

#randomNpcButton{
    top: 21em;
    left: 2em;
    background-color: rgb(86, 158, 13);
}

#randomNpcButton:hover {
    background: chartreuse;
}

#randomMoneyButton{
    top: 7.5em;
    left: 1em;
}

[data-size="tiny"] {
    top: 7.5em;
    left: 8em;
}

[data-size="small"] {
    top: 12em;
    left: 1em;
}

[data-size="medium"] {
    top: 12em;
    left: 7em;
}

[data-size="large"] {
    top: 16.5em;
    left: 1em;
}

[data-size="hoard"] {
    top: 16.5em;
    left: 7em;
}

.displayField{
    position: absolute;
    height: fit-content;
    border-width: 15px;
    border-style: solid;
    background: rgb(240 141 119);
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    width:fit-content;
    padding: .5em;
    border-color: rgb(129, 129, 129);
    border-radius: .25em;

}

#ranNpcGen{
    bottom: .5em;
    margin-left: 10em;
    text-align: left;
}

#tierMonGen{
    bottom: .5em;
    left: 1em;
}

h1{
    border-width: 8em;
    border-style: solid;
    border-width: 10px;
    background: rgb(239 125 27);
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    width:fit-content;
    padding: 10px;
    border-color: rgb(12, 12, 12);
    /* transform: translateX(120%); */
    border-radius: .25em;
   
    
    

}

h2{
    border-width: 5em;
    border-style: solid;
    border-width: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    width:fit-content;
    padding: .75em;
    border-color: rgb(60 62 62);
    border-radius: .25em;
}

#randomHeading{
    background: rgb(92, 150, 72);
    margin-top: -3em;
}

#tierHeading{
    background: rgb(92 150 72);
    margin-top: 6em;
}

html{
    text-align: center;
    background-image: url("./smaug_background_centered.png");
    background-size: cover;
    background-attachment: scroll;
    
    
}


