
.pageTitle {
    font-family: "papyrus";
}

.header {   
    max-width: 100%;
    height: 15em;
}

.section-title {
    display: flex;
    font-size: 2em;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-panel {
    margin: 2em 1em;
}

.map-container {
    display: flex;
    /* width: 100%;
    height: 60%; */
    
    justify-content: center;
    align-items: center;
    /* background-color: #071846; */
    position: relative;
    height: 1563px;
    min-height: 1563px;
    width: 1173px;
    min-width: 1173px;
    overflow: scroll;
    border-width: 50px 100px;
    border-style: solid;
    border-color: #071846;
}

.map-image {
    /* border-width: 50px 100px;
    border-style: solid;
    border-color: #071846; */
    display: flex;
    /* border-radius: 18px; */
    height: 100%;
    width: 100%;
    
}

.vassaNathair {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 46.5%;
    left: 48%;
    /* transform: translate(-583%, 56%); */
    width:auto;
    
}

#seascape {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 70%;
    left: 34%;
    /* transform: translate(-583%, 56%); */
    width: auto;
    height: auto;
}

#luanpeir {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 37.25%;
    left: 81%;
    /* transform: translate(-583%, 56%); */
    width: auto;
}

#dahlduhn {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 64.25%;
    left: 40%;
    /* transform: translate(-583%, 56%); */
    width: auto;
    
}

#kemwei {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 88.25%;
    left: 40%;
    /* transform: translate(-583%, 56%); */
    width:auto;
}

.honedao {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 70.25%;
    left: 19%;
    /* transform: translate(-583%, 56%); */
    width:auto;
}

.map-point {
    /* width: 25%; */
    font-size: 4em;
    height: 50%;
    text-decoration: none !important;
    cursor: pointer;
}

.map-point-text {
    /* width: 75%; */
    font-size: 18px;
    height: 50%;
    cursor: pointer;
}

.city-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 35rem;
    border-radius: 0.5rem;
    z-index: 8;
}

.modal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* html {
    background-image: url("../images/parchment_background.png");
    background-size: cover;
    background-attachment: scroll;
    font-family: "papyrus";
    font-weight: bolder;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/journal-cover-menu.jpg");
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    height: 60px;
    left: 0;
    right: 0;
    margin: 0px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.menu-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 70%;
}

.menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    width: 12%;
    height: 100%; */
    /* margin: 10px;
    padding: 3px; */
    /* text-align: center;
    font-size: 1.25em;
    font-weight: bolder;
    user-select: none;
    cursor: pointer;

    border-right: 2px;
    border-left: 2px;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.0);
}

.menu-items:hover:not(.active) {
    border-color: rgba(255, 255, 255, 1.0);
}

.active.menu-items {
    border-right: 2px;
    border-left: 2px;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: white;
}

footer {
    background-image: url("../images/journal-cover-menu.jpg");
    width: 100%;
    height: 100px;
    margin-top: 50px;
    border-top: 5px solid black;   
} */