.pageTitle {
    font-family: "papyrus";
}

button {
    cursor: pointer;
}

.header {   
    max-width: 100%;
    height: 15em;
}

.section-title {
    display: flex;
    font-size: 2em;
    align-items: center;
    justify-content: center;
}

.section-title-text {
    margin: .4em;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.glossary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%
}

.glossary-head {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 100%;
    margin-bottom: 1em;
    /* visibility: hidden; */
}

.topics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 100%;
    margin-bottom: .5em;
    font-size: 1.5em;
}

.sub-topics-cultures {
    /* display: none; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 80%;
    margin-bottom: 1em;
    font-size: 1.0em;
    visibility: hidden;
}

.left-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    height: 100%;
}

.right-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    height: 100%;
}

.topic-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 75%;
    border: 3px solid black;
    border-radius: 22px;
    cursor: pointer;
    padding: 3px;
}

.sub-topic-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 75%;
    border: 3px solid black;
    border-radius: 22px;
    cursor: pointer;
    padding: 3px;
}

#human-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topic-tab:hover {
    background: rgb(234, 230, 207);
    
}

.sub-topic-tab:hover {
    background: rgb(234, 230, 207);
    
}

.active-tab {
    background: rgb(234, 230, 207);
}

.active-tab:hover {
    border-color: slategray;
}

.glossary-page-locations {
    /* visibility: hidden; */
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
}

.term-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 7px;
}

.word-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25%;
}

.term {
    margin: 0;
}

.term-description {
    margin: 0;
}

.word-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

.title-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.gloss-header {
    text-decoration: underline;
}

.open-gloss {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 3em;
    border: 3px solid black;
    background-color: none;
    border-radius: 22px;
    cursor: pointer;
    font-family: "papyrus";
    font-size: 1em;
    font-weight: bolder;
    
}

.open-gloss:hover {
    background: rgb(234, 230, 207); 
}