
.menu {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    height: 60px;
    background-color: rgb(221, 52, 52, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

.menu-items {
    background-color: teal;
    width: 200px;
    height: 2.5em;
    border: 3px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 3px;
    text-align: center;
    font-weight: bolder;
    user-select: none;
    cursor: pointer;
    align-content: center;
}

.menu-items:hover:not(.active) {
    background: cornsilk;
}

.active.menu-items {
    background-color: rgb(100, 204, 204);
}

.button-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.button{
    height: 1.5em;
    border: .25em solid black;
    border-radius: 5.25em;
    background: rgb(233 150 91);
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    width: 5.6em;
    padding: .5em;
    user-select: none;
    cursor: pointer;
}

.button:hover {
    background: rgb(239 214 76);
}

#randomNpcButton {
    background-color: rgb(233 150 91);
    height: fit-content;
}

#randomNpcButton:hover {
    background: rgb(239 214 76);
}

#randomMoneyButton {
    background-color: rgb(172 191 143);
}

#randomMoneyButton:hover {
    background: rgb(239 214 76);
}    
[data-size="tiny"] {
    top: 7.5em;
    left: 8em;
}

[data-size="small"] {
    top: 12em;
    left: 1em;
}

[data-size="medium"] {
    top: 12em;
    left: 7em;
}

[data-size="large"] {
    top: 16.5em;
    left: 1em;
}

[data-size="hoard"] {
    top: 16.5em;
    left: 7em;
}

.displayField{
    height: fit-content;
    border-style: solid;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    padding: .5em;
    border-radius: .25em;
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    margin-top: 1em;

}

.pageTitle {
    font-family: "papyrus";
}

#tierMonGen{
    bottom: .5em;
    left: 1em;
}

h1{
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
   
    
    

}

h2{
    border-width: 5em;
    border-style: solid;
    border-width: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    width:fit-content;
    padding: .75em;
    border-color: rgb(60 62 62);
    border-radius: .25em;
}

#randomHeading{
    background: rgb(92, 150, 72);
    margin-top: -3em;
}

#tierHeading{
    background: rgb(92 150 72);
    margin-top: 6em;
}

html{
    background-image: url("../images/parchment background.png");
    background-size: cover;
    background-attachment: scroll;
    z-index: 0;
    font-family: "papyrus";
    font-weight: bolder;
    
    
}

.header {   
    max-width: 100%;
    height: 15em;
    
}


