.header {   
    max-width: 100%;
    height: 15em;
    
}

.pageTitle {
    font-size: 3em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interaction-boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.top-columns {
    display: flex;
    flex-direction: row;
    width: 90%;
    /* height: 20em; */
    min-height: 15em;
    justify-content: space-around;
    align-items: center;
}

.display-box {
    display: flex;
    flex-direction: column;
    width: 46%;
    height: 95%;
    min-height: 22em;
    border: 2px solid black;
    justify-content: flex-start;
    align-items: center;
    
}

.bottom-box {
    display: flex;
    flex-direction: row;
    width: 90%;
    /* height: 20em; */
    justify-content: space-around;
    align-items: flex-start;
}

.right-body {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-bottom: 20px;
}

#current-characters {
    cursor: pointer;
}

.listHTMLItem {
    cursor: pointer;
    font-size: 1.25em;

}

.listHTMLItem:hover {
    text-decoration: underline;
    
}

.instructions-list {
    font-size: 1.25em;
    border: 1px solid red;
}
