

.menu {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    height: 60px;
    background-color: rgb(221, 52, 52, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
}

.menu-items {
    background-color: teal;
    width: 200px;
    height: 2.5em;
    border: 3px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 3px;
    text-align: center;
    font-weight: bolder;
    user-select: none;
    cursor: pointer;
    align-content: center;
}

.menu-items:hover:not(.active) {
    background: cornsilk;
}

.active.menu-items {
    background-color: rgb(100, 204, 204);
}

.pageTitle {
    font-family: "papyrus";
}

html{
    background-image: url("../images/parchment background.png");
    background-size: cover;
    background-attachment: scroll;
    z-index: 0;    
}

.text-display {
    font-weight: bolder;
    font-size: 1.25em;
    word-spacing: .29em;
    font-family: "papyrus";
    margin: 3%;
    text-align: left;
}
.p {
    text-indent: 3px;
}

.journal-open {
    display: none;
    width: 100%;
    height:fit-content;
    /* background-color: blueviolet; */
    font-family: "papyrus";
    align-items: center;
    justify-content: space-around;
    
    
}

#left-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 18%;
    justify-content: center;
    align-items: stretch;
    font-size: 2.75em;
    font-weight: bolder;
    text-transform: capitalize;
    /* background-color: cadetblue; */
    
}

#right-page {
    display: flex;
    width: 70%;
    justify-content:left;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5em;
    word-spacing: .29em;
    /* background-color: crimson; */
}



h1{
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.header {   
    max-width: 100%;
    height: 15em;
}

.controlButton {
    height: fit-content;
    border: .25em solid black;
    border-radius: 5.25em;
    background: rgb(233 150 91);
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    width: 150px;
    padding: .5em;
    user-select: none;
    cursor: pointer;
    margin: 10px;
    
}

.journal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.journal-closed {
    display: flex;
    width:fit-content;
    justify-content: center;
    align-content: center;
    position: relative;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

#journal-open-instructions {
    display: flex;
    justify-content: center;
    align-content: center;
}

.journal-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "papyrus";
    color: whitesmoke;
    font-size: 2em;
}

.journal-contents {
    display: flex;
    height: fit-content;
    width: 100%;
    margin-top: 2em;
    /* background-color: crimson; */
    justify-content: center;
    align-items: center;
    font-family: "papyrus";
    font-size: 4em;
    text-transform: capitalize;
    flex-direction: column;
}

.contents-item {
    width: 30%;
    flex-direction: column;
    /* background-color: darkcyan; */
    justify-content: space-around;
    align-self: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.contents-item:hover {
    color: darkred;
}

#conCamp1 {
    width: 100%;
   
}

.left-item {
    /* width: 30%;
    flex-direction: column;
    /* background-color: darkcyan; */
    /* justify-content: space-around;
    align-self: stretch;
    text-align: center;  */
    user-select: none;
    cursor: pointer;
}

.left-item:hover {
    color: darkred;
}

footer {
    background-color: teal;
    width: 120%;
    height: 50px;
    margin-top: 50px;
}

