
.pageTitle {
    font-family: "papyrus";
}

.text-display {
    font-weight: bolder;
    font-size: 1.25em;
    word-spacing: .29em;
    font-family: "papyrus";
    margin: 3%;
    text-align: left;
}

.p {
    text-indent: 3px;
}

.journal-open {
    display: none;
    width: 100%;
    height:fit-content;
    font-family: "papyrus";
    /* align-items: center; */
    justify-content: space-around;
}

#left-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 18%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    font-size: 2.75em;
    font-weight: bolder;
    text-transform: capitalize;  
    position: sticky;
    top: 80px;  
}

#right-page {
    display: flex;
    width: 70%;
    justify-content:left;
    align-items: flex-start;
    font-weight: bolder;
    font-size: 1.5em;
    word-spacing: .29em;
}

h1{
    
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.header {   
    max-width: 100%;
    height: 15em;
}

.navigator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.controlButton {
    font-size: 2em;
    font-weight: bolder;
    user-select: none;
    cursor: pointer;
    margin: 10px;
    user-select: none;
    cursor: pointer;
    font-family: "papyrus";
    text-transform: capitalize;
    text-decoration: underline;
    color: #624132;
    
}

.controlButton:hover {
    font-size: 2.25em;
    color: black;
    margin: 0px;

}

.journal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.journal-closed {
    display: flex;
    width:fit-content;
    justify-content: center;
    align-content: center;
    position: relative;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

#journal-open-instructions {
    display: flex;
    justify-content: center;
    align-content: center;
}

.journal-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "papyrus";
    color: whitesmoke;
    font-size: 2em;
}

.journal-contents {
    display: flex;
    height: fit-content;
    width: 100%;
    margin-top: 2em;
    /* background-color: crimson; */
    justify-content: center;
    align-items: center;
    font-family: "papyrus";
    font-size: 4em;
    text-transform: capitalize;
    flex-direction: column;
}

.contents-item {
    width: 30%;
    flex-direction: column;
    /* background-color: darkcyan; */
    justify-content: space-around;
    align-self: center;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.contents-item:hover {
    color: darkred;
}

#conCamp1 {
    width: 100%;
   
}

.left-item {
    /* width: 30%;
    flex-direction: column;
    /* background-color: darkcyan; */
    /* justify-content: space-around;
    align-self: stretch;
    text-align: center;  */
    user-select: none;
    cursor: pointer;
}

.left-item:hover {
    color: darkred;
}

.active.left-item {
    color: darkred;
}

footer {
    background-color: teal;
    width: 120%;
    height: 50px;
    margin-top: 50px;
}

.chapter-title-text {
    font-size: 1.3em;
}



html {
    background-image: url("../images/parchment_background.png");
    background-size: cover;
    background-attachment: scroll;
    font-family: "papyrus";
    font-weight: bolder;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    height: 60px;
    background-color: rgb(221, 52, 52, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0px;
    position: sticky;
    top: 0;
}

.menu-items {
    background-color: teal;
    width: 200px;
    height: 2.5em;
    border: 3px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 3px;
    text-align: center;
    font-weight: bolder;
    user-select: none;
    cursor: pointer;
    align-content: center;
}

.menu-items:hover:not(.active) {
    background: cornsilk;
}

.active.menu-items {
    background-color: rgb(100, 204, 204);
}